<!DOCTYPE html>
<html>
	<head>
		<title>PavlovMarket</title>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width,initial-scale=1">
		<!--build:css /dist/static/css/main.min.css -->
    	<link rel="stylesheet" href="/static/css/main.css">
		<!-- endbuild -->
	</head>
	<body class="body">
		<header class="header">
			<div class="header_wrap">	
				<div class="header__top">
					<div class="nav__header_dropdown__search768">
						<div class="nav__header_dropdown768">
							<span class="nav__header_dropdown-text">ВСЕ ТОВАРЫ
								<img class="nav__header_dropdown-image" src="/static/images/dropdown_arrow.svg" alt="">
							</span>
						</div><!-- end of nav__header_dropdown -->
						<div class="nav__header_search768"><img class="nav__header_search-image" src="/static/images/search_nav.svg"></div>
					</div>
					<div class="header_left">
						<div class="header_left__logo">
							<a href="/main.html"><img src="/static/images/logo_main.svg" alt="PavlovMarket" class="header_left__logo-image"></a>
						</div>
					</div><!-- end of header__left -->
					<div class="header_center">
						<a class="header_center__links" href="/buyers.html">Покупателям</a>
						<a class="header_center__links" href="/about.html">О компании</a>
						<a class="header_center__links" href="/services.html">Услуги</a>
						<a class="header_center__links" href="/blog.html">Блог</a>
						<a class="header_center__links" href="/contacts.html">Контакты</a>
					</div><!-- end of header__center -->
					<div class="header_right">
						<div class="header_right__phone_numb">+38 050 615 06 15</div>
						<div class="header_right__phone1024"><img src="/static/images/phone_header.png" alt=""></div>
						<div class="header_right__language_managment">
							<div class="header_right__language selected_lang">РУС</div>
							<div class="header_right__language">УКР</div>
						</div>
						<div class="header_right__account_managment">
							<div class="header_right__item">
								<img class="header_right__liked-image" src="/static/images/heart_header.svg" alt="heart"><div class="count"><span class="count_number">4</span></div>
							</div>					
							<div class="header_right__item">
								<img class="header_right__cart-image" src="/static/images/cart_header.svg" alt="cart"><div class="count"><span class="count_number">8</span></div>
							</div>
							<div class="header_right__item">
								<img class="header_right__account-image" src="/static/images/account_header.svg" alt="">
							</div>
						</div>
						<div class="header_right__phone768"><img src="/static/images/phone_header.png" alt=""></div>
					</div><!-- end of header__right -->
					<div class="header__top_menu"> <!-- add "open_menu" -->
						<img src="/static/images/menu.png" alt="" class="open_menu__image">
						<img src="/static/images/close_menu.png" alt="" class="close_menu__image">
						<div class="header__top_menu__dropdown">
							<a class="top_menu__dropdown_item" href="/buyers.html">Покупателям</a>
							<a class="top_menu__dropdown_item" href="/about.html">О компании</a>
							<a class="top_menu__dropdown_item" href="/services.html">Услуги</a>
							<a class="top_menu__dropdown_item" href="/blog.html">Блог</a>
							<a class="top_menu__dropdown_item" href="/contacts.html">Контакты</a>
							<div class="top_menu__dropdown_language">
								<div class="dropdown_language__item selected_lang">РУС</div>
								<div class="dropdown_language__item">УКР</div>
							</div>
						</div><!-- end of header__top_menu__dropdown -->
					</div><!-- end of header__top_menu -->
				</div><!-- end of header__top -->
			</div>	<!-- end of header_wrap -->		
			<div class="fixed_bottom320">
				<div class="fixed_bottom320__item">
					<img class="header_right__liked-image" src="/static/images/heart_header.svg" alt=""><div class="count"><span class="count_number">4</span></div>
				</div>					
				<div class="fixed_bottom320__item">
					<img class="header_right__cart-image" src="/static/images/cart_header.svg" alt=""><div class="count"><span class="count_number">8</span></div>
				</div>
				<div class="fixed_bottom320__item">
					<img class="header_right__liked-image" src="/static/images/phone_320.png" alt="">
				</div>
				<div class="fixed_bottom320__item">
					<img class="header_right__account-image" src="/static/images/account_header.svg" alt="">
				</div>
			</div>
			<div class="border_grey"></div>
			<div class="header_wrap_bottom">
				<nav class="nav__header">
					<div class="nav__header_dropdown__search">
						<div class="nav__header_dropdown">
							<span class="nav__header_dropdown-text">ВСЕ ТОВАРЫ
								<img class="nav__header_dropdown-image" src="/static/images/dropdown_arrow.svg" alt="">
							</span>
						</div><!-- end of nav__header_dropdown -->
						<div class="nav__header_dropdown320">
							<span class="nav__header_dropdown-text">КАТАЛОГ ТОВАРОВ
								<img class="nav__header_dropdown-image" src="/static/images/dropdown_arrow.svg" alt="">
							</span>
						</div><!-- end of nav__header_dropdown -->
						<div class="nav__header_search"><img class="nav__header_search-image" src="/static/images/search_nav.svg"></div>
					</div>
					<div class="header_center768">
						<a class="header_center__links" href="/buyers.html">Покупателям</a>
						<a class="header_center__links" href="/about.html">О компании</a>
						<a class="header_center__links" href="/services.html">Услуги</a>
						<a class="header_center__links" href="/blog.html">Блог</a>
						<a class="header_center__links" href="/contacts.html">Контакты</a>
					</div><!-- end of header__center -->
					<div class="nav__header_slide_menu">
						<div class="nav__header_slide_menu-item"><a class="nav__header_slide_menu-item_text menu__color_text" href="#">Распродажа уличной мебели</a></div>
						<div class="nav__header_slide_menu-item"><a class="nav__header_slide_menu-item_text" href="#">Скамейки</a></div>
						<div class="nav__header_slide_menu-item"><a class="nav__header_slide_menu-item_text" href="#">Урны</a></div>
						<div class="nav__header_slide_menu-item"><a class="nav__header_slide_menu-item_text" href="#">Парковое освещение</a></div>
						<div class="nav__header_slide_menu-item"><a class="nav__header_slide_menu-item_text" href="#">LED освещение</a></div>
						<div class="nav__header_slide_menu-item"><a class="nav__header_slide_menu-item_text" href="#">МАФы</a></div>
						<div class="nav__header_slide_menu-item"><a class="nav__header_slide_menu-item_text" href="#">Цветоч...</a></div>
						<div class="nav__header_slide_menu-item"><img class="nav__header_slide_menu-item_text" src="/static/images/next_arrow.svg" alt="next"></div>
					</div>
					<div class="header_right__phone_numb768">+38 050 615 06 15</div>
					<div class="header_right__language_managment768">
						<div class="header_right__language selected_lang">РУС</div>
						<div class="header_right__language">УКР</div>
					</div>
				</nav><!-- end of nav__header -->
			</div>
		</header>
		<div class="content__top__nav_list">
			<div class="content__top__nav_list-item menu__color_text">
				<div class="content__top__nav_list-text">Акции и скидки</div>
				<span class="nav_list-number">28</span>
			</div>
			<div class="content__top__nav_list-item">
				<div class="content__top__nav_list-text">Скамейки</div>
				<span class="nav_list-number">34</span>
			</div>
			<div class="content__top__nav_list-item">
				<div class="content__top__nav_list-text">Садовая и дачная мебель</div>
				<span class="nav_list-number">80</span>
			</div>
			<div class="content__top__nav_list-item">
				<div class="content__top__nav_list-text">Урны</div>
				<span class="nav_list-number">12</span>
			</div>
			<div class="content__top__nav_list-item">
				<div class="content__top__nav_list-text">Цветочницы и вазоны</div>
				<span class="nav_list-number">6</span>
			</div>
			<div class="content__top__nav_list-item">
				<div class="content__top__nav_list-text">Велопарковки</div>
				<span class="nav_list-number">4</span>
			</div>
			<div class="content__top__nav_list-item">
				<div class="content__top__nav_list-text">Уличное садово-парковое освещение</div>
				<span class="nav_list-number">15</span>
			</div>
			<div class="content__top__nav_list-item">
				<div class="content__top__nav_list-text">Лежаки и шезлонги</div>
				<span class="nav_list-number">7</span>
			</div>
			<div class="content__top__nav_list-item">
				<div class="content__top__nav_list-text">Павильоны, навесы и перголы</div>
				<span class="nav_list-number">33</span>
			</div>
			<div class="content__top__nav_list-item">
				<div class="content__top__nav_list-text">Уличное спортивное оборудование</div>
				<span class="nav_list-number">15</span>
			</div>
			<div class="content__top__nav_list__drop-item"><img class="content__top__nav_content-image" src="/static/images/dropdown_arrow-nav.svg" alt="arrow"></div>
		</div> <!-- end of content__top__nav_list -->
		<div class="breadcrumb">
			<div class="breadcrumb_wrap">
				<div class="breadcrumb-item">
					<a href="#" class="breadcrumb_text">Главная</a>
					<img src="/static/images/arrow_breadcrumb.png" alt="" class="breadcrumb-image">
				</div>
				<div class="breadcrumb-item">
					<a href="#" class="breadcrumb_text">Политика Конфиденциальности</a>
				</div>
			</div>
		</div>
		<div class="border_grey"></div>

		<div class="cookie__warpper">
			<div class="cookie">
				<div class="cookie__content">
					<div class="cookie__content__text">На нашем сайте мы используем cookie для сбора информации технического характера.</div>
					<div class="cookie__content__text">В частности, для персонифицированной работы сайта мы обрабатываем IP-адрес региона вашего местоположения.</div>
				</div>
				<div class="cookie_close__button">ОК</div>
			</div>
		</div>

		<div class="modal">  <!-- show_modal -->
			<div class="modal_background"></div>
			<div class="modal__send_email_ready">
				<div class="modal_close__button"></div>
				<div class="modal__content">
					<div class="modal__send_email_ready__heading">Готово!</div>
					<div class="modal__send_email__text">Товары отправлены Вам на E-mail:</div>
					<div class="modal__send_email__email">example@email.com</div>
				</div>
				<div class="modal__send_email_ready__button">Отправить еще раз</div>
			</div>	
		</div>

		<div class="modal">  <!-- show_modal -->
			<div class="modal_background"></div>
			<div class="modal__send_email">
				<div class="modal_close__button"></div>
				<div class="modal__content">
					<div class="modal__send_email__heading">Отправить товары на почту</div>
				</div>
				<div class="modal__send_email__input_block">
					<input type="text" name="E-mail" class="user_info__input" placeholder="example@email.com">
					<div class="modal__send_email__button">Отправить</div>
				</div>
			</div>	
		</div>

		<div class="modal">  <!-- show_modal -->
			<div class="modal_background"></div>
			<div class="modal__order_ready">
				<div class="modal_close__button"></div>
				<div class="modal__content">
					<div class="modal__order_ready__heading">Ваш заказ оформлен.</div>	
					<div class="modal__order_ready__text">Наш менеджер свяжется с Вами и уточнит все детали.</div>	
					<div class="modal__order_ready__button">Продолжить покупки</div>
				</div>
			</div>	
		</div>

		<div class="modal">  <!-- show_modal -->
			<div class="modal_background"></div>
			<div class="modal__feedback">
				<div class="modal_close__button"></div>
				<div class="modal__content">
					<div class="modal__feedback__heading">Спасибо за вашу заявку.</div>	
					<div class="modal__feedback__text">В ближайшее время мы с Вами свяжемся.</div>	
				</div>
			</div>	
		</div>

		<div class="modal">  <!-- show_modal -->
			<div class="modal_background"></div>
			<div class="modal__callback">
				<div class="modal_close__button"></div>
				<div class="modal__content">
					<div class="modal__callback__heading">Обратный звонок</div>	
					<div class="modal__callback__text">Оставьте свои контактные данные и наш менеджер перезвонит вам в течение получаса</div>
					<div class="modal__callback_input_block">
						<input type="text" name="name" class="user_info__input" placeholder="Ваше имя">
						<input type="text" name="phone" class="user_info__input" placeholder="* +38 (___) ___ __ __">
					</div>
				</div>
				<div class="basket__user_info__confirmation checkbox__modal_callback">
					<div class="basket__user_info__confirmation_checkbox">
						<input type="checkbox" class="confirmation_checkbox" value="1" id="conf_check1">
						<label class="check_marg_bottom" for="conf_check1"></label>
						<div class="basket__user_info__confirmation__text">Согласен на обработку <a href="#">Персональных данных</a></div>
					</div>
				</div>
				<div class="basket__user_info__callback_button">Перезвонить мне</div>
			</div>	
		</div>

		<div class="modal">  <!-- show_modal -->
			<div class="modal_background"></div>
			<div class="modal__callback_price">
				<div class="modal_close__button"></div>
				<div class="modal__content">
					<div class="modal__callback__heading">Обратный звонок</div>	
					<div class="modal__callback__good">Скамейка парковая антивандальная «Бульвар»</div>
					<div class="modal__callback_input_block">
						<input type="text" name="name" class="user_info__input" placeholder="Ваше имя">
						<input type="text" name="phone" class="user_info__input" placeholder="* +38 (___) ___ __ __">
						<input type="text" name="E-mail" class="user_info__input marg_right" placeholder="E-mail">
					</div>
				</div>
				<div class="basket__user_info__confirmation checkbox__modal_callback">
					<div class="basket__user_info__confirmation_checkbox">
						<input type="checkbox" class="confirmation_checkbox" value="1" id="conf_check78345">
						<label class="check_marg_bottom" for="conf_check78345"></label>
						<div class="basket__user_info__confirmation__text">Согласен на обработку <a href="#">Персональных данных</a></div>
					</div>
				</div>
				<div class="modal__callback_price__button">Отправить</div>
			</div>	
		</div>

		<div class="modal">  <!-- show_modal -->
			<div class="modal_background"></div>
			<div class="modal__callback__info">
				<div class="modal_close__button"></div>
				<div class="modal__content">
					<div class="modal__callback__info__heading">Свяжитесь с нами</div>	
					<div class="callback__info_item">
						<div class="callback__info__heading">Интернет магазин:</div>
						<div class="callback__info__phone">
							<div class="callback__info__phone-item">+38 099 112 82 12</div>
							<div class="callback__info__phone-item">+38 099 112 82 12</div>
						</div>
						<div class="callback__info__schedule">Пн - Пт с 9:00 до 18:00</div>
						<div class="callback__info__mail">market@pavlov.ua</div>
					</div>	
					<div class="callback__info_item">
						<div class="callback__info__heading">Бизнес / сотрудничество:</div>
						<div class="callback__info__phone">
							<div class="callback__info__phone-item">+38 099 112 82 12</div>
							<div class="callback__info__phone-item">+38 099 112 82 12</div>
						</div>
						<div class="callback__info__schedule">Пн - Пт с 9:00 до 18:00</div>
						<div class="callback__info__mail">bussines@pavlov.ua</div>
					</div>				
				</div>
				<div class="basket__user_info__callback_button">Перезвонить мне</div>
			</div>	
		</div>

		<div class="main">
			<div class="content">
				<div class="confid_content__wrapper">
					<div class="main_content__heading">Политика Конфиденциальности</div>
					<div class="confid_content">
						<div class="confid_content__info">
							<div class="confid_content__info__heading">1. Общие положения</div>
							<div class="confid_content__info__text">Сайт интернет-магазина <span>«PAVLOV® MARKET»</span> (далее — «сайт») является собственностью индивидуального предпринимателя Павлов Владислава Владимировича.</div>
							<div class="confid_content__info__text">Настоящее пользовательское соглашение относится к сайту интернет-магазина <span>«PAVLOV® MARKET»</span>, расположенному по адресу www.pavlov.merket, и ко всем соответствующим сайтам и интернет-страницам, связанным с сайтом www.pavlov.merket</div>
							<div class="confid_content__info__text">Настоящее соглашение регулирует отношения между администрацией сайта интернет-магазина <span>«PAVLOV® MARKET»</span> (далее — «администрация сайта») и покупателем данного интернет-магазина.</div>
							<div class="confid_content__info__text">1.4. Администрация сайта оставляет за собой право в любое время изменять, добавлять или удалять пункты настоящего соглашения без уведомления покупателя.</div>
							<div class="confid_content__info__text">1.5. Продолжение использования сайта покупателем означает принятие соглашения и изменений, внесенных в настоящее соглашение.</div>
							<div class="confid_content__info__text">1.6. Покупатель несет персональную ответственность за проверку настоящего соглашения на наличие изменений в нем.</div>
						</div>
						<div class="confid_content__info">
							<div class="confid_content__info__heading">2. Определения терминов</div>
							<div class="confid_content__info__text">2.1. Перечисленные ниже термины имеют для целей настоящего соглашения следующее значение:</div>
							<div class="confid_content__info__text">2.1.1. <span>«PAVLOV® MARKET»</span> — интернет-магазин, расположенный на доменном имени www.pavlov.merket, осуществляющий свою деятельность посредством интернет-ресурса и сопутствующих ему сервисов.</div>
							<div class="confid_content__info__text">2.1.2. Интернет-магазин — сайт, содержащий информацию о товарах, продавце, позволяющий осуществить выбор, заказ и (или) приобретение товара.</div>
							<div class="confid_content__info__text">2.1.3. Покупатель — физическое или юридическое лицо, имеющее доступ к сайту, посредством сети интернет и использующее сайт.</div>
							<div class="confid_content__info__text">2.1.4. Содержание сайта интернет-магазина (далее — «содержание») — охраняемые результаты интеллектуальной деятельности, включая тексты литературных произведений, их названия, предисловия, аннотации, статьи, иллюстрации, обложки, музыкальные произведения с текстом или без текста, графические, текстовые, фотографические, производные, составные и иные произведения, пользовательские интерфейсы, визуальные интерфейсы, названия товарных знаков, логотипы, программы для ЭВМ, базы данных, а также дизайн, структура, выбор, координация, внешний вид, общий стиль и расположение данного содержания, входящего в состав сайта и другие объекты интеллектуальной собственности все вместе и/или по отдельности, содержащиеся на сайте интернет-магазина.</div>
						</div>
					</div>					
				</div>
			</div>  <!-- end of content -->			
		</div> <!-- end of main -->
		<footer class="footer">
			<div class="footer__content">
				<div class="footer__content_wrap">
					<div class="footer__contacts">
						<div class="footer__heading">КОНТАКТЫ</div>
						<div class="footer__catalog_list">
							<div class="footer__contacts_rights">© 2019 Интернет магазин PAVLOV.MARKET</div>
							<div class="footer__contacts_phone">
								<div class="footer__contacts_phone-item">+38 050 615 06 15</div>
								<div class="footer__contacts_phone-item">+38 050 615 06 15</div>					
							</div>
							<div class="footer__contacts_schedule">Пн-Пт с 9.00 до 18.00</div>
							<div class="footer__contacts_mail">market@pavlov.ua</div>
							<div class="footer__contacts_social">
								<img class="footer__contacts_social-image" src="/static/images/facebook.svg" alt="">
								<img class="footer__contacts_social-image" src="/static/images/insta.svg" alt="">
								<img class="footer__contacts_social-image" src="/static/images/youtube.svg" alt="">
							</div>
						</div><!-- end of footer__catalog_list -->
					</div><!-- end of footer__contacts -->
					<div class="border_grey320"></div>
					<div class="footer__company">
						<div class="footer__heading__wrap">
							<div class="footer__heading">КОМПАНИЯ</div>
							<div class="footer__button320"><img src="/static/images/footer320_button.png" alt="" class="footer__button320-image"></div>
						</div>
						<div class="footer__company_list">
							<div class="list_item__wrapper">
								<a href="#" class="footer__company-item">Покупателям</a>
								<div class="forward_arrow"><img src="/static/images/arrow_breadcrumb.png" alt="" class="forward_arrow__iamge"></div>		
							</div>
							<div class="list_item__wrapper">
							<a href="#" class="footer__company-item">О компании</a>				
								<div class="forward_arrow"><img src="/static/images/arrow_breadcrumb.png" alt="" class="forward_arrow__iamge"></div>		
							</div>
							<div class="list_item__wrapper">
							<a href="#" class="footer__company-item">Услуги</a>				
								<div class="forward_arrow"><img src="/static/images/arrow_breadcrumb.png" alt="" class="forward_arrow__iamge"></div>		
							</div>
							<div class="list_item__wrapper">
							<a href="#" class="footer__company-item">Блог</a>				
								<div class="forward_arrow"><img src="/static/images/arrow_breadcrumb.png" alt="" class="forward_arrow__iamge"></div>		
							</div>
							<div class="list_item__wrapper">
							<a href="#" class="footer__company-item">Контакты</a>				
								<div class="forward_arrow"><img src="/static/images/arrow_breadcrumb.png" alt="" class="forward_arrow__iamge"></div>		
							</div>
							<div class="list_item__wrapper">
							<a href="#" class="footer__company-item">Политика конфиденциальности</a>				
								<div class="forward_arrow"><img src="/static/images/arrow_breadcrumb.png" alt="" class="forward_arrow__iamge"></div>		
							</div>
							<div class="list_item__wrapper">
							<a href="#" class="footer__company-item list__item_blue">Личный кабинет</a>				
								<div class="forward_arrow"><img src="/static/images/arrow_breadcrumb.png" alt="" class="forward_arrow__iamge"></div>		
							</div>
						</div>
					</div><!-- end of footer_company -->
					<div class="border_grey320"></div>
					<div class="footer__catalog">
						<div class="footer__heading__wrap">
							<div class="footer__heading">КАТАЛОГ</div>
							<div class="footer__button320"><img src="/static/images/footer320_button.png" alt="" class="footer__button320-image"></div>
						</div>
						<div class="footer__catalog__row_block">
							<div class="footer__catalog_list__left">
							<div class="list_item__wrapper">
								<a href="#" class="footer__catalog_list-item">Скамейки</a>
								<div class="forward_arrow"><img src="/static/images/arrow_breadcrumb.png" alt="" class="forward_arrow__iamge"></div>		
							</div>
							<div class="list_item__wrapper">
								<a href="#" class="footer__catalog_list-item">Акции и скидки</a>
								<div class="forward_arrow"><img src="/static/images/arrow_breadcrumb.png" alt="" class="forward_arrow__iamge"></div>		
							</div>
							<div class="list_item__wrapper">
								<a href="#" class="footer__catalog_list-item">Садовая и дачная мебель</a>
								<div class="forward_arrow"><img src="/static/images/arrow_breadcrumb.png" alt="" class="forward_arrow__iamge"></div>		
							</div>
							<div class="list_item__wrapper">
								<a href="#" class="footer__catalog_list-item">Урны</a>
								<div class="forward_arrow"><img src="/static/images/arrow_breadcrumb.png" alt="" class="forward_arrow__iamge"></div>		
							</div>
							<div class="list_item__wrapper">
								<a href="#" class="footer__catalog_list-item">Лежаки и шезлонги</a>
								<div class="forward_arrow"><img src="/static/images/arrow_breadcrumb.png" alt="" class="forward_arrow__iamge"></div>		
							</div>
							<div class="list_item__wrapper">
								<a href="#" class="footer__catalog_list-item">Павильоны, навесы и перголы</a>
								<div class="forward_arrow"><img src="/static/images/arrow_breadcrumb.png" alt="" class="forward_arrow__iamge"></div>		
							</div>
							<div class="list_item__wrapper">
								<a href="#" class="footer__catalog_list-item">Уличное спортивное оборудование</a>
								<div class="forward_arrow"><img src="/static/images/arrow_breadcrumb.png" alt="" class="forward_arrow__iamge"></div>		
							</div>
								<div class="footer__catalog_list__button">Перейти в каталог</div>
							</div>
							<div class="footer__catalog_list__right">
								<a href="#" class="footer__catalog_list-item">Трибуны</a>
								<a href="#" class="footer__catalog_list-item">Столбики и ограждения</a>
								<a href="#" class="footer__catalog_list-item">Уличные стенды и навигация</a>
								<a href="#" class="footer__catalog_list-item">Мангалы и барбекю</a>
								<a href="#" class="footer__catalog_list-item">LED освещение</a>
								<a href="#" class="footer__catalog_list-item">Альтернативные источники энергии</a>
								<a href="#" class="footer__catalog_list-item">Солнечные панели</a>
							</div>
						</div><!-- end of footer__catalog__row_block -->
					</div><!-- end of footer_catalog -->
					<div class="border_grey320"></div>
					<div class="footer__contacts_rights320">© 2019 Интернет магазин PAVLOV.MARKET</div>
				</div><!-- end of footer__content_wrap -->
			</div><!-- end of footer__content -->
		</footer>
	</body>
</html>