<!DOCTYPE html>
<html>
	<head>
		<title>PavlovMarket</title>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width,initial-scale=1">
		<!--build:css /dist/static/css/main.min.css -->
    	<link rel="stylesheet" href="/static/css/main.css">
		<!-- endbuild -->
	</head>
	<body class="body">
		<header class="header">
			<div class="header_wrap">	
				<div class="header__top">
					<div class="nav__header_dropdown__search768">
						<div class="nav__header_dropdown768">
							<span class="nav__header_dropdown-text">ВСЕ ТОВАРЫ
								<img class="nav__header_dropdown-image" src="/static/images/dropdown_arrow.svg" alt="">
							</span>
						</div><!-- end of nav__header_dropdown -->
						<div class="nav__header_search768"><img class="nav__header_search-image" src="/static/images/search_nav.svg"></div>
					</div>
					<div class="header_left">
						<div class="header_left__logo">
							<a href="/main.html"><img src="/static/images/logo_main.svg" alt="PavlovMarket" class="header_left__logo-image"></a>
						</div>
					</div><!-- end of header__left -->
					<div class="header_center">
						<a class="header_center__links" href="/buyers.html">Покупателям</a>
						<a class="header_center__links" href="/about.html">О компании</a>
						<a class="header_center__links" href="/services.html">Услуги</a>
						<a class="header_center__links" href="/blog.html">Блог</a>
						<a class="header_center__links" href="/contacts.html">Контакты</a>
					</div><!-- end of header__center -->
					<div class="header_right">
						<div class="header_right__phone_numb">+38 050 615 06 15</div>
						<div class="header_right__phone1024"><img src="/static/images/phone_header.png" alt=""></div>
						<div class="header_right__language_managment">
							<div class="header_right__language selected_lang">РУС</div>
							<div class="header_right__language">УКР</div>
						</div>
						<div class="header_right__account_managment">
							<div class="header_right__item">
								<img class="header_right__liked-image" src="/static/images/heart_header.svg" alt="heart"><div class="count"><span class="count_number">4</span></div>
							</div>					
							<div class="header_right__item">
								<img class="header_right__cart-image" src="/static/images/cart_header.svg" alt="cart"><div class="count"><span class="count_number">8</span></div>
							</div>
							<div class="header_right__item">
								<img class="header_right__account-image" src="/static/images/account_header.svg" alt="">
							</div>
						</div>
						<div class="header_right__phone768"><img src="/static/images/phone_header.png" alt=""></div>
					</div><!-- end of header__right -->
					<div class="header__top_menu"><img src="/static/images/menu.png" alt="" class="header__top_menu-image"></div>
				</div><!-- end of header__top -->
			</div>
			<div class="border_grey"></div>
			<div class="header_wrap_bottom">
				<nav class="nav__header">
					<div class="nav__header_dropdown__search">
						<div class="nav__header_dropdown">
							<span class="nav__header_dropdown-text">ВСЕ ТОВАРЫ
								<img class="nav__header_dropdown-image" src="/static/images/dropdown_arrow.svg" alt="">
							</span>
						</div><!-- end of nav__header_dropdown -->
						<div class="nav__header_dropdown320">
							<span class="nav__header_dropdown-text">КАТАЛОГ ТОВАРОВ
								<img class="nav__header_dropdown-image" src="/static/images/dropdown_arrow.svg" alt="">
							</span>
						</div><!-- end of nav__header_dropdown -->
						<div class="nav__header_search"><img class="nav__header_search-image" src="/static/images/search_nav.svg"></div>
					</div>
					<div class="header_center768">
						<a class="header_center__links" href="/buyers.html">Покупателям</a>
						<a class="header_center__links" href="/about.html">О компании</a>
						<a class="header_center__links" href="/services.html">Услуги</a>
						<a class="header_center__links" href="/blog.html">Блог</a>
						<a class="header_center__links" href="/contacts.html">Контакты</a>
					</div><!-- end of header__center -->
					<div class="nav__header_slide_menu">
						<div class="nav__header_slide_menu-item"><a class="nav__header_slide_menu-item_text menu__color_text" href="#">Распродажа уличной мебели</a></div>
						<div class="nav__header_slide_menu-item"><a class="nav__header_slide_menu-item_text" href="#">Скамейки</a></div>
						<div class="nav__header_slide_menu-item"><a class="nav__header_slide_menu-item_text" href="#">Урны</a></div>
						<div class="nav__header_slide_menu-item"><a class="nav__header_slide_menu-item_text" href="#">Парковое освещение</a></div>
						<div class="nav__header_slide_menu-item"><a class="nav__header_slide_menu-item_text" href="#">LED освещение</a></div>
						<div class="nav__header_slide_menu-item"><a class="nav__header_slide_menu-item_text" href="#">МАФы</a></div>
						<div class="nav__header_slide_menu-item"><a class="nav__header_slide_menu-item_text" href="#">Цветоч...</a></div>
						<div class="nav__header_slide_menu-item"><img class="nav__header_slide_menu-item_text" src="/static/images/next_arrow.svg" alt="next"></div>
					</div>
					<div class="header_right__phone_numb768">+38 050 615 06 15</div>
					<div class="header_right__language_managment768">
						<div class="header_right__language selected_lang">РУС</div>
						<div class="header_right__language">УКР</div>
					</div>
				</nav><!-- end of nav__header -->
			</div>
		</header>
		<div class="content__top__nav_list">
			<div class="content__top__nav_list-item menu__color_text">
				<div class="content__top__nav_list-text">Акции и скидки</div>
				<span class="nav_list-number">28</span>
			</div>
			<div class="content__top__nav_list-item">
				<div class="content__top__nav_list-text">Скамейки</div>
				<span class="nav_list-number">34</span>
			</div>
			<div class="content__top__nav_list-item">
				<div class="content__top__nav_list-text">Садовая и дачная мебель</div>
				<span class="nav_list-number">80</span>
			</div>
			<div class="content__top__nav_list-item">
				<div class="content__top__nav_list-text">Урны</div>
				<span class="nav_list-number">12</span>
			</div>
			<div class="content__top__nav_list-item">
				<div class="content__top__nav_list-text">Цветочницы и вазоны</div>
				<span class="nav_list-number">6</span>
			</div>
			<div class="content__top__nav_list-item">
				<div class="content__top__nav_list-text">Велопарковки</div>
				<span class="nav_list-number">4</span>
			</div>
			<div class="content__top__nav_list-item">
				<div class="content__top__nav_list-text">Уличное садово-парковое освещение</div>
				<span class="nav_list-number">15</span>
			</div>
			<div class="content__top__nav_list-item">
				<div class="content__top__nav_list-text">Лежаки и шезлонги</div>
				<span class="nav_list-number">7</span>
			</div>
			<div class="content__top__nav_list-item">
				<div class="content__top__nav_list-text">Павильоны, навесы и перголы</div>
				<span class="nav_list-number">33</span>
			</div>
			<div class="content__top__nav_list-item">
				<div class="content__top__nav_list-text">Уличное спортивное оборудование</div>
				<span class="nav_list-number">15</span>
			</div>
			<div class="content__top__nav_list__drop-item"><img class="content__top__nav_content-image" src="/static/images/dropdown_arrow-nav.svg" alt="arrow"></div>
		</div>
		<div class="breadcrumb">
			<div class="breadcrumb_wrap">
				<div class="breadcrumb-item">
					<a href="#" class="breadcrumb_text">Главная</a>
					<img src="/static/images/arrow_breadcrumb.png" alt="" class="breadcrumb-image">
				</div>
				<div class="breadcrumb-item">
					<a href="#" class="breadcrumb_text">Уличная мебель</a>
					<img src="/static/images/arrow_breadcrumb.png" alt="" class="breadcrumb-image">
				</div>
				<div class="breadcrumb-item">
					<a href="#" class="breadcrumb_text">Скамейки</a>
					<img src="/static/images/arrow_breadcrumb.png" alt="" class="breadcrumb-image">
				</div>
				<div class="breadcrumb-item">
					<a href="#" class="breadcrumb_text">Скамейка парковая «Бульвар»</a>
				</div>
			</div>
		</div>
		<div class="border_grey"></div>
		<div class="main">
			<div class="content">
				<div class="content_goods">
					<div class="heading768_code768__wrapper">
						<div class="goods_info__side__heading768">Скамейка парковая антивандальная «Бульвар»</div>						
						<div class="goods_info__side__code768">Код товара: <span>559900</span></div>
					</div>
					<div class="content_goods__info">
						<div class="goods_info__sticky_block__warpper">
							<div class="goods_info__sticky_block">
								<div class="select__preview__block">
									<div class="select__preview__block_photo selected_preview">Фото</div>
									<div class="select__preview__block_3D ">3D модель</div>
								</div>							
								<div class="sticky_block__slide_item"><img src="/static/images/Image_771.png" alt="" class="sticky_block__slide_image"></div>
								<div class="goods__slide_pag">
									<div class="goods__slide_pag-item selected_pag"></div>
									<div class="goods__slide_pag-item"></div>
									<div class="goods__slide_pag-item"></div>
									<div class="goods__slide_pag-item"></div>
								</div>
								<div class="goods__slide-prev"><img src="/static/images/back_arrow.svg" alt="" class="goods__slide_prev-image"></div>
								<div class="goods__slide-next"><img src="/static/images/next_arrow.svg" alt="" class="goods__slide_next-image"></div>	
							</div>  <!-- end of goods_info__sticky_block -->							
						</div>  <!-- end of goods_info__sticky_block__warpper -->
						<div class="goods_info__side_block__wrapper">
							<div class="goods_info__side_block">
								<div class="heading_code__wrapper">
									<div class="goods_info__side__heading">Скамейка парковая антивандальная «Бульвар»</div>						
									<div class="goods_info__side__code">Код товара: <span>559900</span></div>
								</div>						
								<div class="goods_info__side__price">
									<div class="goods_info__price_old">10 321 <span>₴</span></div>
									<div class="goods_info__price_new">
										<div class="goods_info__price_new__retale">
											<div class="new__retale">9 999 <span>₴</span></div>
											<div class="new__retale_text">Розничная цена</div>
										</div>
										<div class="goods_info__price_new__wholesale">
											<div class="new__wholesale">80 999 <span>₴</span></div>
											<div class="new__wholesale_text">Оптовая цена</div>
										</div>
									</div>
									<div class="side__price__discount">Скидка - 5%</div>									
								</div>  <!-- end of goods_info__side__price -->
								<div class="goods_info__side__information_note">
									<div class="information_note__text">Это информационная сноска на всякий случай. Если вдруг нужно уточнить детали касаемо данного продукта или оплаты.</div>
									<div class="information_note__details">Подробнее</div>
								</div>
								<div class="goods_info__side__buttons">
									<div class="goods_info__side-item_counter">
										<div class="goods_info__side-item_counter__minus max_minus"><span>-</span></div>							
										<div class="goods_info__side-item_counter__quantity">1</div>
										<div class="goods_info__side-item_counter__plus"><span>+</span></div>
									</div>
									<div class="add_to_cart__button">Добавить в корзину</div>
									<div class="add_to_liked__button"><img src="/static/images/hart_add_to.png" alt="" class="add_to_liked__image">Добавить в избранное</div>
								</div>  <!-- end of goods_info__side__buttons -->
								<div class="goods_info__side__heading">Цвет:</div>
								<div class="goods_info__side__color_picker">
									<div class="color_picker__item selected_color"><img src="/static/images/color_11.png" alt="" class="color_picker__image"></div>
									<div class="color_picker__item"><img src="/static/images/color_12.png" alt="" class="color_picker__image"></div>
									<div class="color_picker__item"><img src="/static/images/color_13.png" alt="" class="color_picker__image"></div>
								</div>
								<div class="goods_info__side__heading">Размер:</div>
								<div class="goods_info__side__size_select">
									<select name="" id="" class="size_select">
										<option value="1">150х350 <div class="bold">(25 00 грн)</div></option>
									</select>
								</div>
								<div class="goods_info__side__heading">Характеристика:</div>
								<div class="goods_info__side__characteristic">
									<div class="characteristic__discription">
										<div class="characteristic__discription__heading">Материалы:</div>
										<div class="characteristic__discription__text"><span>Опоры:</span> Cталь. Покрыты порошковой полимерной краской. Возможность выбора цвета по каталогу RAL. Стандартный цвет  (по умолчанию) - черный, серый.</div>
										<div class="characteristic__discription__text"><span>Сиденье и спинка:</span> Брус из хвойных пород древесины - ангарская сосна (варианты  исполнения: лиственница, композитные  материалы) различного сечения. Огнебиозащитные пропитки + тонирово-чный  состав с антисептиком + два слоя яхтного лака  с промежуточным шлифованием. Возможность  выбора цвета из палитры.</div>										
										<div class="characteristic__discription__text"><span>Фурнитура:</span> Оцинкованная. Возможность выбора цвета фурнитуры по каталогу RAL.  Стандартный цвет (по умолчанию) - серебристый.  Возможность использования потайной / скрытой фурнитуры.</div>										
									</div>
									<div class="characteristic__discription">
										<div class="characteristic__discription__heading">Технические характеристики:</div>
										<div class="specifications">Высота: <span>300 мм</span></div>										
										<div class="specifications">Ширина: <span>600 мм</span></div>										
										<div class="specifications">Длина: <span>600 - 3000 мм</span></div>										
										<div class="specifications">Высота сиденья: <span>40 мм</span></div>										
										<div class="specifications">Ширина сиденья: <span>80 мм</span></div>										
										<div class="specifications">Длина посадочного места: <span>600 - 3000 мм</span></div>
									</div>
								</div>  <!-- end of goods_info__side__characteristic -->
								<div class="goods_info__side__heading">О модели:</div>
								<div class="goods_info__side__about_model">

									<div class="characteristic__discription__text"> Скамейка "Фонс" с деревянными подлокотниками обладает удобным посадочным местом. Деревянный подлокотник помимо эстетических свойств служит дополнительной опорой,  преимущество которой оценят люди пожилого  возраста.</div>
								</div>	
								<div class="goods_info__side__heading">Файлы:</div>
								<div class="goods_info__side__files">

									<div class="goods_info__files_download">Скамейка парковая антиван… <div class="files_download__size">(PFD 120 мб.)</div></div>
								</div>
								<div class="goods_info__side__heading">Справка:</div>
								<div class="goods_info__side__reference">
									<a href="#" class="reference__item">Доставка и оплата продукции</a>
									<a href="#" class="reference__item">Уход, обслуживание и хранение скамеек</a>
									<a href="#" class="reference__item">Гарантийные условия и срок службы продукции</a>
								</div>
								<div class="goods_info__side__consultation">
									<div class="consultation__heading">Нужна консультация?</div>
									<div class="consultation__phone_info">
										<div class="consultation__phone_info-item">+38 050 615 06 15</div>
										<div class="consultation__phone_info-item">+38 050 616 06 16</div>										
									</div>
									<div class="consultation__schedule">Пн-Пт с 9.00 до 18.00</div>
									<div class="consultation__Email">market@pavlov.ua</div>
									<div class="consultation__call_back__button">Перезвонить мне</div>									
								</div>
							</div>  <!-- end of goods_info__side_block -->	
						</div>  <!-- end of goods_info__side_block__wrapper -->	
					</div>  <!-- end of content_goods__info -->	
					<div class="content_goods__bottom_block">
						<div class="content_goods__slide__heading">Рекомендовано к товару</div>
						<div class="content_goods__slide">
							<div class="slide__item">
								<div class="slide__item__top">
									<img src="/static/images/Image_671_130px.png" alt="" class="slide__item__iamge">
								</div>
								<div class="slide__item__text">Вазон для цветов (металический)</div>
								<div class="slide__item__price">99 999 грн.</div>
							</div>	
							<div class="slide__item">
								<div class="slide__item__top">
									<img src="/static/images/Image_699.png" alt="" class="slide__item__iamge">
								</div>
								<div class="slide__item__text">Вазон для цветов (деревяный)</div>
								<div class="slide__item__price">99 999 грн.</div>
							</div>	
							<div class="slide__item">
								<div class="slide__item__top">
									<img src="/static/images/Image_701_130px.png" alt="" class="slide__item__iamge">
								</div>
								<div class="slide__item__text">Урна для сорти-ровки мусора</div>
								<div class="slide__item__price">99 999 грн.</div>
							</div>	
							<div class="slide__item">
								<div class="slide__item__top">
									<img src="/static/images/Image_671_130px.png" alt="" class="slide__item__iamge">
								</div>
								<div class="slide__item__text">Вазон для цветов (металический)</div>
								<div class="slide__item__price">99 999 грн.</div>
							</div>	
							<div class="slide__item">
								<div class="slide__item__top">
									<img src="/static/images/Image_630_130px.png" alt="" class="slide__item__iamge">
								</div>
								<div class="slide__item__text">Стальная ограда</div>
								<div class="slide__item__price">99 999 грн.</div>
							</div>	
							<div class="slide__item">
								<div class="slide__item__top">
									<img src="/static/images/Image_706.png" alt="" class="slide__item__iamge">
								</div>
								<div class="slide__item__text">Уличный фонарь</div>
								<div class="slide__item__price">99 999 грн.</div>
							</div>	
							<div class="slide__item">
								<div class="slide__item__top">
									<img src="/static/images/Image_705.png" alt="" class="slide__item__iamge">
								</div>
								<div class="slide__item__text">Велопарковка</div>
								<div class="slide__item__price">99 999 грн.</div>
							</div>	
							<div class="slide__item">
								<div class="slide__item__top">
									<img src="/static/images/Image_671_130px.png" alt="" class="slide__item__iamge">
								</div>
								<div class="slide__item__text">Вазон для цветов (металический)</div>
								<div class="slide__item__price">99 999 грн.</div>
							</div>							
							<div class="goods__slide__bottom-prev"><img src="/static/images/back_arrow.svg" alt="" class="goods__slide_prev-image"></div>
							<div class="goods__slide__bottom-next"><img src="/static/images/next_arrow.svg" alt="" class="goods__slide_next-image"></div>
						</div>  <!-- end of content_goods__slide -->
					</div>  <!-- end of content_goods__bottom_block -->						
				</div>  <!-- end of content_goods -->	
			</div>  <!-- end of content -->			
		</div> <!-- end of main -->
		<footer class="footer">
			<div class="footer__content">
				<div class="footer__content_wrap">
					<div class="footer__contacts">
						<div class="footer__heading">КОНТАКТЫ</div>
						<div class="footer__catalog_list">
							<div class="footer__contacts_rights">© 2019 Интернет магазин PAVLOV.MARKET</div>
							<div class="footer__contacts_phone">
								<div class="footer__contacts_phone-item">+38 050 615 06 15</div>
								<div class="footer__contacts_phone-item">+38 050 615 06 15</div>					
							</div>
							<div class="footer__contacts_schedule">Пн-Пт с 9.00 до 18.00</div>
							<div class="footer__contacts_mail">market@pavlov.ua</div>
							<div class="footer__contacts_social">
								<img class="footer__contacts_social-image" src="/static/images/facebook.svg" alt="">
								<img class="footer__contacts_social-image" src="/static/images/insta.svg" alt="">
								<img class="footer__contacts_social-image" src="/static/images/youtube.svg" alt="">
							</div>
						</div><!-- end of footer__catalog_list -->
					</div><!-- end of footer__contacts -->
					<div class="border_grey320"></div>
					<div class="footer__company">
						<div class="footer__heading__wrap">
							<div class="footer__heading">КОМПАНИЯ</div>
							<div class="footer__button320"><img src="/static/images/footer320_button.png" alt="" class="footer__button320-image"></div>
						</div>
						<div class="footer__company_list">
							<a href="#" class="footer__company-item">Покупателям</a>				
							<a href="#" class="footer__company-item">О компании</a>				
							<a href="#" class="footer__company-item">Услуги</a>				
							<a href="#" class="footer__company-item">Блог</a>				
							<a href="#" class="footer__company-item">Контакты</a>				
							<a href="#" class="footer__company-item">Политика конфиденциальности</a>				
							<a href="#" class="footer__company-item">Личный кабинет</a>				
						</div>
					</div><!-- end of footer_company -->
					<div class="border_grey320"></div>
					<div class="footer__catalog">
						<div class="footer__heading__wrap">
							<div class="footer__heading">КАТАЛОГ</div>
							<div class="footer__button320"><img src="/static/images/footer320_button.png" alt="" class="footer__button320-image"></div>
						</div>
						<div class="footer__catalog__row_block">
							<div class="footer__catalog_list__left">
								<a href="#" class="footer__catalog_list-item">Скамейки</a>
								<a href="#" class="footer__catalog_list-item">Акции и скидки</a>
								<a href="#" class="footer__catalog_list-item">Садовая и дачная мебель</a>
								<a href="#" class="footer__catalog_list-item">Урны</a>
								<a href="#" class="footer__catalog_list-item">Лежаки и шезлонги</a>
								<a href="#" class="footer__catalog_list-item">Павильоны, навесы и перголы</a>
								<a href="#" class="footer__catalog_list-item">Уличное спортивное оборудование</a>
								<div class="footer__catalog_list__button">Перейти в каталог</div>
							</div>
							<div class="footer__catalog_list__right">
								<a href="#" class="footer__catalog_list-item">Трибуны</a>
								<a href="#" class="footer__catalog_list-item">Столбики и ограждения</a>
								<a href="#" class="footer__catalog_list-item">Уличные стенды и навигация</a>
								<a href="#" class="footer__catalog_list-item">Мангалы и барбекю</a>
								<a href="#" class="footer__catalog_list-item">LED освещение</a>
								<a href="#" class="footer__catalog_list-item">Альтернативные источники энергии</a>
								<a href="#" class="footer__catalog_list-item">Солнечные панели</a>
							</div>
						</div><!-- end of footer__catalog__row_block -->
					</div><!-- end of footer_catalog -->
					<div class="border_grey320"></div>
					<div class="footer__contacts_rights320">© 2019 Интернет магазин PAVLOV.MARKET</div>
				</div><!-- end of footer__content_wrap -->
			</div><!-- end of footer__content -->
		</footer>
	</body>
</html>